<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--数据库驱动入口-->
    <classPathEntry location="C:\Users\MaShicheng\.m2\repository\mysql\mysql-connector-java\5.1.38\mysql-connector-java-5.1.38.jar" />
    <context id="mybatis" targetRuntime="MyBatis3">
        <property name="javaFileEncoding" value="UTF-8"/>
        <commentGenerator type="org.combo.mybatis.generator.extend.comment.SimpleCommentGenerator">
        </commentGenerator>
        <!--数据库连接信息-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/dbcoffer?useUnicode=true&amp;characterEncoding=utf8"
                        userId="root"
                        password="1">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="test.model" targetProject="C:\Users\MaShicheng\Desktop\test\proj\src\main\java">
            <property name="enableSubPackages" value="false" />
            <property name="trimStrings" value="false" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="test.xml"  targetProject="C:\Users\MaShicheng\Desktop\test\proj\src\main\resources">
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="test.dao"  targetProject="C:\Users\MaShicheng\Desktop\test\proj\src\main\java">
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>

        <table schema="" tableName="system_service" domainObjectName="SystemService" enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="ID" sqlStatement="MySql" identity="true" />
        </table>

    </context>
</generatorConfiguration>